<app-string-filter id="personaFilter"
  [displayList]="displayList"
  [masterList]="flatPersonaeList"
  (filtered)="onFiltered($event)">
</app-string-filter>

<table id="personaTable" cellspacing="0" class="ui table striped sortable unstackable">
  <thead>
    <tr>
        <th (click)="orderBy('level')">Level</th>
        <th (click)="orderBy('name')">Name</th>
        <th (click)="orderBy('arcana')">Arcana</th>
        <th *ngFor="let stat of statList; index as i" class="mobile-hidden-2" (click)="orderBy('stats',i)">{{stat}}</th>
        <th *ngFor="let elem of elemList; index as i" class="mobile-hidden-3" (click)="orderBy('elems',i)">{{elem}}</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let persona of displayList">
    <td>{{persona.level}}</td>
    <td class="left-border"><a href='/persona/{{persona.id}}'>{{persona.name}}</a></td>
    <td class="left-border">{{persona.getArcanaName()}}</td>
    <td *ngFor="let stat of persona.stats; first as isFirst" class="mobile-hidden-2" [class.left-border]="isFirst">{{stat}}</td>
    <td *ngFor="let elem of persona.elems; first as isFirst" class="mobile-hidden-3 {{persona.getElemShort(elem)}}" [class.left-border]="isFirst">{{persona.getElemShort(elem)}}</td>
  </tr>
  </tbody>
</table>
