#personaPage {
    margin-bottom: 1em;
}

.stat-table {
    margin: auto;
    text-align: center;
    margin-bottom: .5em;
}

#fullStatsTable {
    width: 95%;
}

#splitStats1 {
    width: 90%;
}

#splitStats2 {
    width: 67.5%;
}

.elem-table {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
}

#skillTable {
    width: 90%;
    text-align: left;
    margin: auto;
}

#skillTable th {
    padding: .5em;
}

#skillTable th, #skillTable td {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

#negotiationTable, #dropTable {
    margin: auto;
    width: 95%;
    text-align: center;
}

#transmuteTable {
    margin: auto;
    width: 95%;
    text-align: center;
}

app-pagination {
    margin: 1em;
}

.recipe-table {
    margin: 1em auto auto;
    text-align: center;
    width: 85%;
}

.recipe-table td, .recipe-table th {
    padding-left: .5em;
    padding-right: .5em;
}
