#statsTable {
    margin: auto;
    width: 95%;
    text-align: center;
}

#statsTable td {
    border-right: .1em solid rgba(34,36,38,.1) !important;
}

.elem-table {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
}

#fullElemTable td {
    border-right: .1em solid rgba(46, 50, 54, 0.1) !important;
}

#skillTable {
    width: 90%;
    text-align: left;
    margin: auto;
}

#skillTable th {
    cursor: pointer;
    padding: .5em;
}

#skillTable th, #skillTable td {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

#skillTable tr:hover td {
    background: rgba(64, 46, 24, 0.1);
}

.ui {
    margin-bottom: 1em;
}

#negotiationTable, #dropTable {
    margin: auto;
    width: 95%;
    text-align: center;
}

#transmuteTable {
    margin: auto;
    width: 95%;
    text-align: center;
}

.recipe-table {
    margin: auto;
    text-align: center;
    width: 85%;
}

.recipe-table td, .recipe-table th {
    padding-left: .5em;
    padding-right: .5em;
}

.recipe-table tr:hover td {
    background: rgba(97, 143, 182, 0.13);
}

#footer {
    height: 1em;
}