<div id="personaPage" *ngIf="persona; else notFound" style="margin-top:10px">
   <h1>{{persona.name}} ({{persona.level}} / {{persona.getArcanaName()}})</h1>
    <ng-container id="personaInfo" *ngIf='persona.max || persona.item || persona.rare || persona.note || persona.dlc'>
        <h3>Note</h3>
        <span style='color: red;' *ngIf='persona.max'>Social link must be maxed!</span>
        <span style='color: slateblue;' *ngIf='persona.rare'>This is a rare persona and cannot be fused!</span>
        <span style='color: slateblue;' *ngIf='persona.note'>{{persona.note}}</span>
        <span style='color: slateblue;' *ngIf='persona.dlc'>This is a DLC persona!</span>
    </ng-container>
    <h2>Stats</h2>
    <table id="fullStatsTable" class="ui table unstackable striped stat-table mobile-hidden-2">
        <thead>
        <tr>
            <th *ngFor="let stat of statNames">{{stat}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td *ngFor="let stat of persona.stats">{{stat}}</td>
        </tr>
        </tbody>
    </table>

    <table id="splitStats1" class="ui table unstackable striped midsized-hidden stat-table">
        <thead>
        <tr>
            <th *ngFor="let stat of statNames | slice:0:4">{{stat}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td *ngFor="let stat of persona.stats | slice:0:4">{{stat}}</td>
        </tr>
        </tbody>
    </table>
    <table id="splitStats2" class="ui table unstackable striped midsized-hidden stat-table">
        <thead>
        <tr>
            <th *ngFor="let stat of statNames | slice:4:7">{{stat}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td *ngFor="let stat of persona.stats | slice:4:7">{{stat}}</td>
        </tr>
        </tbody>
    </table>


    <h2>Elementals</h2>
    <table id="fullElemTable" class="ui table unstackable striped mobile-hidden-3 elem-table">
        <thead>
        <tr>
            <th *ngFor="let elem of elemNames">{{elem}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td *ngFor="let elem of persona.elems; first as isFirst" class="mobile-hidden-1 {{persona.getElemShort(elem)}}">{{persona.getElemShort(elem)}}</td>
        </tr>
        </tbody>
    </table>

    <!--split the table into 2 for mobile-->
    <table class="ui table unstackable striped desktop-hidden elem-table">
        <thead>
        <tr>
            <th *ngFor="let elem of elemNames | slice:0:5">{{elem}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td *ngFor="let elem of persona.elems | slice:0:5" class="{{persona.getElemFull(elem)}}">{{persona.getElemFull(elem)}}</td>
        </tr>
        </tbody>
    </table>

    <table class="ui table unstackable striped desktop-hidden elem-table">
        <thead>
        <tr>
            <th *ngFor="let elem of elemNames | slice:5:10">{{elem}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td *ngFor="let elem of persona.elems | slice:5:10" class="{{persona.getElemFull(elem)}}">{{persona.getElemFull(elem)}}</td>
        </tr>
        </tbody>
    </table>

    <h2>Skills</h2>
    <table id="skillTable" class="ui table unstackable striped">
        <thead>
        <tr>
            <th>Level</th>
            <th class="mobile-hidden-1">Element</th>
            <th>Name</th>
            <th>Effect</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let skill of persona.skills">
            <td>{{skill.level}}</td>
            <td class="mobile-hidden-1">{{skill.getSkillElement()}}</td>
            <td><a routerLink="/skill/{{skill.id}}">{{skill.name}}</a></td>
            <td>{{skill.description}}</td>
            <td>{{skill.getFormattedCost()}}</td>
        </tr>
        </tbody>
    </table>

    <h3>Negotiation Drops</h3>
    <table id="negotiationTable" class="ui table unstackable striped">
        <thead>
        <tr>
            <th>Win Difference</th>
            <th>Item</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let negot of persona.negotiates">
            <td>{{negot.getRollWinDisplay()}}</td>
            <td class="left-border">
                <a *ngIf="negot.name !== '-';else dummyData" routerLink="/item/{{negot.id}}">{{negot.name}}</a>
                <ng-template #dummyData>{{negot.name}}</ng-template>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Drops</h3>
    <table id="dropTable" class="ui table unstackable striped">
        <thead>
        <tr>
            <th>Roll</th>
            <th>Item</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let drop of persona.drops">
            <td>{{drop.getRollWinDisplay()}}</td>
            <td class="left-border"><a routerLink="/item/{{drop.id}}">{{drop.name}}</a></td>
        </tr>
        </tbody>
    </table>

    <h3>Transmutations</h3>
    <table id="transmuteTable" class="ui table unstackable striped">
        <thead>
        <tr>
            <th *ngFor="let transmute of transmutationsHeader">{{transmute}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td [class.left-border]="!isFirst" *ngFor="let transmute of persona.transmutes; first as isFirst">
                <a *ngIf="transmute.name != '-';else dummyData" routerLink="/item/{{transmute.id}}">{{transmute.name}}</a>
                <ng-template #dummyData>{{transmute.name}}</ng-template>
            </td>
        </tr>
        </tbody>
    </table>

    <app-pagination
    [activeData]="persona.toRecipes"
    [header]="'Fusion(s) to this persona (| Recipes)'"
    [tableId]="'recipesToTable'"
    [tableHeader]="recipeToHeaders">
        <ng-template let-displayData let-currPage="currentPage" let-perPage="pageSize">
            <tbody>
            <tr *ngFor="let recipe of displayData; index as i">
                <td>{{i + 1 + (currPage - 1) * perPage}}</td>
                <td>¥{{recipe.cost | number}}</td>
                <td *ngFor="let persona of recipe.sources">
                    <a routerLink='/persona/{{persona.id}}'>{{persona.name}}</a>
                    ({{persona.level}} / {{persona.getArcanaName()}})
                </td>
            </tr>
            </tbody>
        </ng-template>
    </app-pagination>
    
    <app-pagination
    [activeData]="persona.fromRecipes"
    [header]="'Fusion(s) from this persona (| Recipes)'"
    [tableId]="'recipesFromTable'"
    [tableHeader]="recipeFromHeaders">
        <ng-template let-displayData let-currPage="currentPage" let-perPage="pageSize">
            <tbody>
                <tr *ngFor="let recipe of displayData; index as i">
                    <td>{{i + 1 + (currPage - 1) * perPage}}</td>
                    <td>¥{{recipe.cost | number}}</td>
                    <td>
                        <a routerLink='/persona/{{recipe.sources[1].id}}'>{{recipe.sources[1].name}}</a>
                        ({{recipe.sources[1].level}} / {{recipe.sources[1].getArcanaName()}})
                    </td>
                    <td>
                        <a routerLink='/persona/{{recipe.result.id}}'>{{recipe.result.name}}</a>
                        ({{recipe.result.level}} / {{recipe.result.getArcanaName()}})
                    </td>
                </tr>
            </tbody>
        </ng-template>
    </app-pagination>
</div>
<ng-template #notFound>"{{persona.name}}" not found!</ng-template>