<app-string-filter id="itemsFilter"
  [displayList]="displayList"
  [masterList]="flatConsumableList.concat(flatLootList)"
  (filtered)="onFiltered($event)">
</app-string-filter>

<table id="itemTable" cellspacing="0" class="ui table striped sortable unstackable" sticky-table>
  <thead>
    <tr>
      <th (click)="orderBy('id')">ID</th>
      <th (click)="orderBy('name')">Name</th>
      <th class="mobile-hidden-3" (click)="orderBy('type')">Item Type</th>
      <th class="mobile-hidden-3" (click)="orderBy('schedule')">Schedule</th>
      <th class="mobile-hidden-2" (click)="orderBy('origins')">Origins</th>
      <th class="mobile-hidden-3" (click)="orderBy('consumableType')">Consumable Type</th>
      <th (click)="orderBy('special')">Special</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of displayList">
    <td>{{item.id}}</td>
    <td class="left-border"><a href='#/item/{{item.id}}'>{{item.name}}</a></td>
    <td class="left-border mobile-hidden-3">{{item.getTypeName()}}</td>
    <td class="left-border mobile-hidden-3">{{item.schedule}}</td>
    <td class="left-border mobile-hidden-2">
      <label *ngFor="let origin of item.getOrigins(); last as isLast">{{item.getOriginName(origin)}}<ng-container *ngIf="!isLast">,<br></ng-container></label>
    </td>
    <td class="left-border mobile-hidden-3">{{item.getConsumableTypeName()}}</td>
    <td class="left-border">{{item.special}}</td>
  </tr>
  </tbody>
</table>