<div class="ui mini input">
    <label class="ui-mini-label">
      Filter:
      <input #inputFilter autocorrect="off" autocomplete="off" spellcheck="false" (keyup.enter)="filterStr(inputFilter.value)">
    </label>
    <button (click)="filterStr('')" class="ui mini button">Clear</button>
</div>

<table id="itemTable" cellspacing="0" class="ui table striped sortable unstackable" sticky-table>
  <thead>
  <tr>
      <th><a (click)="orderBy('name')">Name</a></th>
      <th><a (click)="orderBy('type')">Item Type</a></th>
      <th><a (click)="orderBy('schedule')">Schedule</a></th>
      <th class="mobile-hidden-2"><a>Origins</a></th>
      <th><a (click)="orderBy('transmute')">Transmute from</a></th>
      <th><a>Drops from</a></th>
      <th class="mobile-hidden-3"><a (click)="orderBy('special')">Special</a></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of displayList">
    <td class="left-border"><a href='#/item/{{item.id}}'>{{item.name}}</a></td>
    <td class="left-border">{{item.getTypeName()}}</td>
    <td class="left-border">{{item.schedule}}</td>
    <td class="left-border mobile-hidden-2">
      <label *ngFor="let origin of item.origins; last as isLast">{{item.getOriginName(origin)}}<label *ngIf="!isLast">,<br></label></label>
    </td>
    <td class="left-border">
      <label *ngIf="item.transmute!=''" [innerHTML]="getSourceHtml(item.transmute)"></label>
      <label *ngIf="item.transmute==''">-</label>
    </td>
    <td class="left-border">
        <label *ngIf="!item.personaSources.size">-</label>
        <label *ngFor="let source of item.personaSources; last as isLast" [innerHTML]="getSourceHtml(source)"></label>
      </td>
    <td class="left-border mobile-hidden-3">{{item.special}}</td>
  </tr>
  </tbody>
</table>