@mixin items-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    #itemsCard, #itemsTable {
        margin: auto;
        margin-top: 1em;
        width: 90%;
    }

    #itemsTable .mat-table {
        margin: 1em 0;
    }
}
