<app-string-filter id="weaponFilter"
  [displayList]="displayList"
  [masterList]="flatWeaponList.concat(flatRangedWeaponList)"
  (filtered)="onFiltered($event)">
</app-string-filter>

<table id="weaponTable" cellspacing="0" class="ui table striped sortable unstackable">
  <thead>
    <tr>
      <th class="mobile-hidden-3" (click)="orderBy('id')">ID</th>
      <th (click)="orderBy('name')">Name</th>
      <th class="mobile-hidden-3" (click)="orderBy('schedule')">Schedule</th>
      <th class="mobile-hidden-3" (click)="orderBy('origins')">Origins</th>
      <th (click)="orderBy('baseDamage')">Base<br>Damage</th>
      <th (click)="orderBy('maxDamageDice')">Max<br>Dice</th>
      <th class="mobile-hidden-1" (click)="orderBy('damageDie')">Damage<br>Die</th>
      <th (click)="orderBy('range')">Range</th>
      <th class="mobile-hidden-2" (click)="orderBy('failValue')">FV</th>
      <th (click)="orderBy('magSize')">Mag<br>Size</th>
      <th class="mobile-hidden-1" (click)="orderBy('magCount')">Mag<br>Count</th>
      <th class="mobile-hidden-1" (click)="orderBy('special')">Special</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weapon of displayList">
      <td class="mobile-hidden-3">{{weapon.id}}</td>
      <td class="left-border"><a href='#/item/{{weapon.id}}'>{{weapon.name}}</a></td>
      <td class="left-border mobile-hidden-3">{{weapon.schedule}}</td>
      <td class="left-border mobile-hidden-3">
        <label *ngFor="let origin of weapon.getOrigins(); last as isLast">{{weapon.getOriginName(origin)}}<label *ngIf="!isLast">,<br></label></label>
      </td>
      <td class="left-border">{{weapon.baseDamage}}</td>
      <td class="left-border">{{weapon.maxDamageDice}}</td>
      <td class="left-border mobile-hidden-1">{{weapon.damageDie}}</td>
      <td class="left-border">{{weapon.getRangeString()}}</td>
      <td class="left-border mobile-hidden-2">{{weapon.failValue}}</td>
      <td class="left-border">
        <label *ngIf="weapon.magSize;else empty">{{weapon.magSize}}</label>
        <ng-template #empty>-</ng-template>
      </td>
      <td class="left-border mobile-hidden-1">
          <label *ngIf="weapon.magCount;else empty">{{weapon.magCount}}</label>
          <ng-template #empty>-</ng-template>
        </td>
      <td class="left-border mobile-hidden-1">{{weapon.special}}</td>
    </tr>
  </tbody>
</table>