<table mat-table matSort [id]='tableId' [dataSource]='dataSource'>
  <ng-container *ngFor='let header of tableHeaders; let i = index' [matColumnDef]='header.fieldName'>
    <ng-container *ngIf='!header.sortable; else sortableHeader'>
      <th mat-header-cell *matHeaderCellDef
      id='header_{{i}}'
      [attr.rowspan]='header.rowSpan'
      [attr.colspan]='header.columnSpan'
      [ngClass]='header.visibilityClass'>
        {{header.name}}
      </th>
    </ng-container>
    <ng-template #sortableHeader>
      <th mat-header-cell mat-sort-header *matHeaderCellDef
      id='header_{{i}}'
      [attr.rowspan]='header.rowSpan'
      [attr.colspan]='header.columnSpan'
      [ngClass]='header.visibilityClass'>
        {{header.name}}
      </th>
    </ng-template>
    <td mat-cell *matCellDef='let item' [ngClass]='[header.visibilityClass, "clear-left-right-padding", getFieldStyle(item, header.fieldName)]'>
      <ng-container *ngIf='header.fieldName === routerLinkName; else noRouter'>
        <app-router-link
        [display]='getFieldByName(item, routerLinkName, true)'
        [path]='getPath(item)'>
        </app-router-link>
      </ng-container>
      <ng-template #noRouter>
        {{getFieldByName(item, header.fieldName, true)}}
      </ng-template>
    </td>
  </ng-container>
  <ng-container *ngFor='let header of tableHeaders; let i = index' [matColumnDef]='header.fieldName+"Filter"'>
    <ng-container *ngIf='header.filterType === FilterType.StringFilter'>
      <th mat-header-cell *matHeaderCellDef 
      id='filter_{{i}}'
      [ngClass]='header.visibilityClass'>
        <mat-form-field class='string-filter' floatLabel='never'>
          <input matInput placeholder='Filter By {{header.name}}' [formControl]='filterControls[i]'>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container *ngIf='header.filterType === FilterType.SelectFilter || header.filterType === FilterType.FlagSelectFilter'>
      <th mat-header-cell *matHeaderCellDef 
      id='filter_{{i}}'
      [ngClass]='header.visibilityClass'>
        <mat-form-field class='select-filter' floatLabel='never'>
          <mat-label>
            Filter By {{header.name}}
          </mat-label>
          <mat-select [formControl]='filterControls[i]'>
            <mat-option *ngFor='let option of selectOptions.get(header.fieldName)' [value]='option[1]'>
              {{option[0]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>
  </ng-container>
  <tr mat-header-row id='nameHeaderRow' *matHeaderRowDef='headerNames; sticky: true'></tr>
  <tr mat-header-row id='filterHeaderRow' *matHeaderRowDef='filterNames; sticky: true'></tr>
  <tr mat-row *matRowDef='let myRowData; columns: headerNames'></tr>
</table>
