#skillPage {
    margin-bottom: 1em;
}

#skillTitle {
    font-size: 300%;
    font-weight: bold;
}

#skillSubtitle {
    padding-block-start: .75em;
    font-size: 180%;
    font-weight: bold;
    padding-block-end: .75em;
}

#skillDetailTable {
    width: 80%;
    text-align: center;
    margin: auto;
}

#personaTable {
    width: 50%;
    text-align: center;
    margin: auto;
}

#personaTable th {
    cursor: pointer;
    padding: .5em;
}

#personaTable th, #personaTable td {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

#personaTable tr:hover td {
    background: rgba(64, 46, 24, 0.1);
}

#cardTable {
    width: 50%;
    text-align: center;
    margin: auto;
}

#cardTable th, #cardTable td {
    padding-left: 1.25em;
    padding-right: 1.25em;
}
