<div id="skillPage" *ngIf="skill; else notFound" style="margin-top:10px">
  <h1 id="skillTitle">{{skill.skill.name}}</h1>
  <h2 id="skillSubtitle">({{skill.getSkillElement()}} / {{skill.skill.getFormattedCost()}})</h2>
  <h3 id="skillDescription">{{skill.getDescription()}}</h3> 
  <table [class.mobile-hidden-2]="isSplitTable()" id="skillDetailTable" class="ui table unstackable striped skill-table">
    <thead>
      <tr>
        <th [class.left-border]="!isFirst" *ngFor="let header of detailTableHeader; first as isFirst">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td [class.left-border]="!isFirst" *ngFor="let value of detailTableValues; first as isFirst">{{value}}</td>
      </tr>
    </tbody>
  </table>

  <ng-container *ngIf="isSplitTable()">
    <table id="splitSkillTable1" class="ui table unstackable striped skill-table midsized-hidden">
      <thead>
        <tr>
          <th [class.left-border]="!isFirst" *ngFor="let header of detailTableHeader | slice:0:splitTableIndex(); first as isFirst">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td [class.left-border]="!isFirst" *ngFor="let value of detailTableValues | slice:0:splitTableIndex(); first as isFirst">{{value}}</td>
        </tr>
      </tbody>
    </table>
    <table id="splitSkillTable2" class="ui table unstackable striped skill-table midsized-hidden">
      <thead>
        <tr>
          <th [class.left-border]="!isFirst" *ngFor="let header of detailTableHeader | slice:splitTableIndex():detailTableHeader.length; first as isFirst">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td [class.left-border]="!isFirst" *ngFor="let value of detailTableValues | slice:splitTableIndex():detailTableHeader.length; first as isFirst">{{value}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <br>
  <ng-container *ngIf="skill.skillClass === 'FlatDamageSkill' || skill.skillClass === 'FlatDamageAilmentSkill'">
    <h2>
      Approximate Damage Benchmarks
    </h2>
    <table id="damageAnalysisTable" class="ui table unstackable striped skill-table">
      <thead>
        <tr>
          <th [class.left-border]="!isFirst" *ngFor="let header of damageAnalysis; first as isFirst">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left-border">Standard</td>
          <td *ngFor="let value of standardDamage">{{value}}</td>
        </tr>
        <tr>
          <td class="left-border">Weak</td>
          <td *ngFor="let value of standardDamage">{{value*1.5}}</td>
        </tr>
        <tr>
          <td class="left-border">Charged</td>
          <td *ngFor="let value of standardDamage">{{value*2.5}}</td>
        </tr>
        <tr>
          <td class="left-border">Weak Charged</td>
          <td *ngFor="let value of standardDamage">{{value*1.5*2.5}}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </ng-container>
  <h2>Personae with this skill</h2>
  <table id="personaTable" class="ui table unstackable striped">
    <thead>
      <tr>
        <th>Persona</th>
        <th>Level Learned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of skill.personaSources">
        <td><a href="/persona/{{persona.id}}">{{persona.name}}</a></td>
        <td class="left-border">{{persona.level}}</td>
      </tr>
    </tbody>
  </table>
  <h3>Skill Cards</h3>
  <table id="cardTable" class="ui table unstackable striped">
      <thead>
        <tr>
          <th>Ally Skill Card</th>
          <th>Main Skill Card</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/item/{{skill.skill.allyCardId}}">{{skill.getAllyCardName()}}</a></td>
          <td class="left-border"><a href="/item/{{skill.skill.mainCardId}}">{{skill.geMainCardName()}}</a></td>
        </tr>
      </tbody>
    </table>
</div>
<ng-template #notFound>"{{skill.name}}" not found!</ng-template>