#skillPage {
    margin-bottom: 1em;
}

#skillTitle {
    margin-bottom: 0em;
    padding-bottom: 0em;
}

#skillSubtitle {
    margin: 0em;
    font-size: 180%;
    font-weight: bold;
}

#skillDescription {
    margin-top: .25em;
    margin-bottom: .25em;
}

.skill-table {
    width: 80%;
    text-align: center;
    margin: auto;
}

#splitSkillTable2 {
    margin-top: 1em;
}

#personaTable {
    width: 50%;
    text-align: center;
    margin: auto;
}

#personaTable th {
    cursor: pointer;
    padding: .5em;
}

#personaTable th, #personaTable td {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

#cardTable {
    width: 50%;
    text-align: center;
    margin: auto;
}