<div id="skillPage" *ngIf="skill; else notFound" style="margin-top:10px">
  <div id="skillTitle">{{skill.skill.name}}</div>
  <div id="skillSubtitle">({{skill.getSkillElement()}} / {{skill.skill.formatCost()}})</div>
  <table id="skillDetailTable" class="ui table unstackable striped">
    <thead>
      <tr>
        <th class="left-border" *ngFor="let header of getDetailTableHeader()">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left-border" *ngFor="let value of detailTableValues">{{value}}</td>
      </tr>
    </tbody>
  </table>
  <h3>{{skill.getDescription()}}</h3> 
  <br>
  <h3>Personae with this skill</h3>
  <table id="personaTable" class="ui table unstackable striped">
    <thead>
      <tr>
        <th>Persona</th>
        <th>Level Learned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of skill.personaSources">
        <td><a href="/persona/{{persona.personaId}}">{{persona.personaName}}</a></td>
        <td class="left-border">{{persona.level}}</td>
      </tr>
    </tbody>
  </table>
  <h3>Skill Cards</h3>
  <table id="cardTable" class="ui table unstackable striped">
      <thead>
        <tr>
          <th>Ally Skill Card</th>
          <th>Main Skill Card</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/item/{{skill.skill.allyCardId}}">{{skill.getAllyCardName()}}</a></td>
          <td class="left-border"><a href="/item/{{skill.skill.mainCardId}}">{{skill.geMainCardName()}}</a></td>
        </tr>
      </tbody>
    </table>
  <h3></h3>
</div>
<ng-template #notFound>"{{skill.name}}" not found!</ng-template>