<app-filter id="accessoryFilter"
  [displayList]="displayList"
  [masterList]="flatAccessoriesList"
  (filtered)="onFiltered($event)">
</app-filter>

<table id="accessoryTable" cellspacing="0" class="ui table striped sortable unstackable">
  <thead>
    <tr>
      <th class="mobile-hidden-1" (click)="orderBy('id')">ID</th>
      <th (click)="orderBy('name')">Name</th>
      <th class="mobile-hidden-3" (click)="orderBy('schedule')">Schedule</th>
      <th class="mobile-hidden-2" (click)="orderBy('origins')">Origins</th>
      <th (click)="orderBy('special')">Special Effects</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let accessory of displayList">
      <td class="mobile-hidden-1">{{accessory.id}}</td>
      <td class="left-border"><a href='#/item/{{accessory.id}}'>{{accessory.name}}</a></td>
      <td class="left-border mobile-hidden-3">{{accessory.schedule}}</td>
      <td class="left-border mobile-hidden-2">
        <label *ngFor="let origin of accessory.getOrigins(); last as isLast">
          {{accessory.getOriginName(origin)}}<ng-container *ngIf="!isLast">,<br></ng-container>
        </label>
      </td>
      <td class="left-border">{{accessory.special}}</td>
    </tr>
  </tbody>
</table>