<h3>{{headerPart[0]}}{{getVisibleCount()}}{{headerPart[1]}}</h3>
<div class="caption">
    <div class="pagination" *ngIf="maxPage > 1">
        <span (click)="getFirstPage()">&#x25c4;<span style="position: relative; left: -0.4em;">&#x25c4;</span></span>
        <span (click)="getPrevPage()">&#x25c4;</span>
        Page {{currPage}} / {{maxPage}}
        <span (click)="getNextPage()">&#x25ba;</span>
        <span (click)="getLastPage()"><span style="position: relative; right: -0.4em;">&#x25ba;</span>&#x25ba;</span>
    </div>
</div>
<table [id]="tableId" class="ui table striped sortable unstackable">
    <thead>
        <tr>
            <th *ngFor="let header of tableHeader; let i = index"
                [attr.rowspan]="header.rowSpan"
                [attr.colspan]="header.columnSpan">
                    {{header.name}}
            </th>
        </tr>
        <tr>
            <ng-container *ngFor="let header of tableHeader; let i = index">
                <th class="left-border" *ngIf="header.filterType === FilterType.StringFilter"
                    [attr.colspan]="header.columnSpan">
                        <app-string-filter id="paginationFilter"
                        [displayList]="_activeData"
                        [fieldInfo]="header.fieldName"
                        (filtered)="onFiltered($event)">
                        </app-string-filter>
                </th>                    
            </ng-container>
        </tr>
    </thead>
    <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: displayData, currentPage: currPage, pageSize: perPage}"></ng-template>
</table>
