<table id="armorTable" cellspacing="0" class="ui table striped sortable unstackable">
  <thead>
    <tr>
      <th rowspan="2" class="mobile-hidden-1" (click)="orderBy('id')">ID</th>
      <th (click)="orderBy('name')">Name</th>
      <th rowspan="2" class="mobile-hidden-3" (click)="orderBy('schedule')">Schedule</th>
      <th rowspan="2" class="mobile-hidden-3" (click)="orderBy('origins')">Origins</th>
      <th rowspan="2" class="mobile-hidden-2" (click)="orderBy('armorClass')">Armor<br>Class</th>
      <th rowspan="2" (click)="orderBy('damageReduction')">DMG<br>Reduction</th>
      <th rowspan="2" (click)="orderBy('moveAimPenalty')">Move/Aim<br>Penalty</th>
      <th rowspan="2" (click)="orderBy('maxDodgeBonus')">Max Dodge<br>Bonus</th>
      <th rowspan="2" class="mobile-hidden-2" (click)="orderBy('dirtyGearPool')">Gear Pool</th>
      <th rowspan="2" class="mobile-hidden-3" (click)="orderBy('special')">Special</th>
    </tr>
    <tr>
      <th class="filter-header left-border">
        <app-string-filter id="armorFilter"
        [displayList]="displayList"
        [masterList]="flatArmorsList"
        [fieldInfo]="'name'"
        (filtered)="onFiltered($event)">
        </app-string-filter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let armor of displayList">
      <td class="mobile-hidden-1">{{armor.id}}</td>
      <td class="left-border"><a href='#/item/{{armor.id}}'>{{armor.name}}</a></td>
      <td class="left-border mobile-hidden-3">{{armor.schedule}}</td>
      <td class="left-border mobile-hidden-3">
        <label *ngFor="let origin of armor.getOrigins(); last as isLast">{{armor.getOriginName(origin)}}<ng-container *ngIf="!isLast">,<br></ng-container></label>
      </td>
      <td class="left-border mobile-hidden-2">{{armor.getArmorClassName()}}</td>
      <td class="left-border">{{armor.damageReduction}}</td>
      <td class="left-border">{{armor.moveAimPenalty}}</td>
      <td class="left-border">{{armor.maxDodgeBonus}}</td>
      <td class="left-border mobile-hidden-2">{{armor.getGearPoolName()}}</td>
      <td class="left-border mobile-hidden-3">{{armor.special}}</td>
    </tr>
  </tbody>
</table>