<div class="ui mini input">
    <label class="ui-mini-label">
      Filter:
      <input #inputFilter autocorrect="off" autocomplete="off" spellcheck="false" (keyup.enter)="filterStr(inputFilter.value)">
    </label>
    <button (click)="filterStr('')" class="ui mini button">Clear</button>
</div>

<table id="armorTable" cellspacing="0" class="ui table striped sortable unstackable" sticky-table>
  <thead>
  <tr>
      <th (click)="orderBy('id')">ID</th>
      <th (click)="orderBy('name')">Name</th>
      <th class="mobile-hidden-1" (click)="orderBy('schedule')">Schedule</th>
      <th class="mobile-hidden-1" (click)="orderBy('origins')">Origins</th>
      <th class="mobile-hidden-1" (click)="orderBy('transmuteId')">Transmute from</th>
      <th class="mobile-hidden-2" (click)="orderBy('armorClass')">Armor<br>Class</th>
      <th class="mobile-hidden-2" (click)="orderBy('damageReduction')">DMG<br>Reduction</th>
      <th class="mobile-hidden-2" (click)="orderBy('moveAimPenalty')">Move/Aim<br>Penalty</th>
      <th class="mobile-hidden-2" (click)="orderBy('maxDodgeBonus')">Max Dodge<br>Bonus</th>
      <th class="mobile-hidden-2" (click)="orderBy('dirtyGearPool')">Gear Pool</th>
      <th class="mobile-hidden-3" (click)="orderBy('special')">Special</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let armor of displayList">
    <td class="left-border">{{armor.id}}</td>
    <td class="left-border"><a href='#/item/{{armor.id}}'>{{armor.name}}</a></td>
    <td class="left-border mobile-hidden-1">{{armor.schedule}}</td>
    <td class="left-border mobile-hidden-1">
      <label *ngFor="let origin of armor.getOrigins(); last as isLast">{{armor.getOriginName(origin)}}<ng-container *ngIf="!isLast">,<br></ng-container></label>
    </td>
    <td class="left-border mobile-hidden-1">
      <label *ngIf="armor.transmuteId != -1; else emptyBlock" [innerHTML]="getTransmuteHtml(armor.transmuteId)"></label>
      <ng-template #emptyBlock>-</ng-template>
    </td>
    <td class="left-border mobile-hidden-2">{{armor.getArmorClassName()}}</td>
    <td class="left-border mobile-hidden-2">{{armor.damageReduction}}</td>
    <td class="left-border mobile-hidden-2">{{armor.moveAimPenalty}}</td>
    <td class="left-border mobile-hidden-2">{{armor.maxDodgeBonus}}</td>
    <td class="left-border mobile-hidden-2">{{armor.getGearPoolName()}}</td>
    <td class="left-border mobile-hidden-3">{{armor.special}}</td>
  </tr>
  </tbody>
</table>