@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin);

.ui.mini.input {
    font-size: .6em;
}

.ui.mini.label {
    font-size: 1.6em;
    letter-spacing: .04em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ui.input {
    position: center;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    color: rgba(0, 0, 0, 1);
}

.ui.table-input {
    position: center;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
}

.ui.table-input input {
    margin: 0 auto;
    padding: .25em .25em;
    width: 40%;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.25em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    border: 1px solid rgba(60, 62, 65, 0.253);
    border-radius: .3rem;
    transition: box-shadow .1s ease, border-color .1s ease;
    box-shadow: none;
}

.ui.input input {
    margin: 0 auto;
    padding: .25em .25em;
    width: 80%;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.25em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    border: 1px solid rgba(60, 62, 65, 0.253);
    border-radius: .3rem;
    transition: box-shadow .1s ease, border-color .1s ease;
    box-shadow: none;
}

.ui.input input:focus {
    border-color: rgba(91, 170, 201, 0.966);
    background: white;
    color: rgba(0, 0, 0, 1);
    box-shadow: none;
}

.ui.mini.button {
    font-size: .8rem;
}

.ui.button {
    padding: .8em 1.5em;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: rgba(240, 241, 242, 0.815);
    color: rgba(0,0,0,1);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    padding: .8em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 666;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .3rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    user-select: none;
    transition: opacity .2s ease, background-color .2s ease,color .2s ease, box-shadow .2s ease;
    -webkit-tap-highlight-color: transparent;
}
