@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin);

/*
 * body governs everything in the app
 */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
}

.ui.mini.input {
    font-size: .75em;
}

.ui.mini.label {
    font-size: 1.6em;
    letter-spacing: .04em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ui.input {
    position: relative;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    color: rgba(0, 0, 0, 1);
}

.ui.input input {
    margin: 0;
    padding: .675em 1em;
    max-width: 100%;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.25em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    border: 1px solid rgba(60, 62, 65, 0.253);
    border-radius: .3rem;
    transition: box-shadow .1s ease, border-color .1s ease;
    box-shadow: none;
}

.ui.input input:focus {
    border-color: rgba(91, 170, 201, 0.966);
    background: white;
    color: rgba(0, 0, 0, 1);
    box-shadow: none;
}

.ui.mini.button {
    font-size: .8rem;
}

.ui.button {
    padding: .8em 1.5em;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: rgba(240, 241, 242, 0.815);
    color: rgba(0,0,0,1);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    padding: .8em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 666;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .3rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    user-select: none;
    transition: opacity .2s ease, background-color .2s ease,color .2s ease, box-shadow .2s ease;
    -webkit-tap-highlight-color: transparent;
}

/*
 * Curves the top row hover to match the curve of the table itself
 */
tr:hover td:first-child {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

/*
 * Curves the bottom row hover to match the curve of the table itself
 */
tr:hover td:last-child {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

tr:hover td {
    background: rgba(97, 182, 142, 0.13);
}

.caption {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.ui.sortable.table thead th:hover {
    background: white !important;
}

.ui.sortable.table th {
    padding: .70em;
}

.ui.sortable.table td {
    padding: .70em;
}

.wk, .rs, .nu, .rp, .ab,
.Weak, .Resist, .Null, .Repel, .Absorb {
    font-weight: bold;
}

.wk, .Weak { color: #db2828 !important; }
.rs, .Resist { color: #2185d0 !important; }
.nu, .Null { color: #b0b0b0 !important; }
.rp, .Repel { color: #fbbd08 !important; }
.ab, .Absorb { color: #21ba45 !important; }

.left-border {
    border-left: .125em solid rgba(34,36,38,.1) !important;
}

@media only screen and (max-width: 375px) {
    .mobile-hidden-1 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .mobile-hidden-2 {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .mobile-hidden-3 {
        display: none;
    }
}

@media only screen and (min-width: 991px) {
    .desktop-hidden {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .midsized-hidden {
        display: none;
    }
}
